{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<html lang="en">
<html>
<head>
  <title>Label an image</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <div class="imagenum">
  <h1> Image {{ img_id }} </h1>
  </div>
  <div id="imageholder">
  <img src="{{ new_image }}" alt="User Image" width="250">
  </div>
  <div id="formholder">
    <div id="labelform">
      <form method="POST" action="" enctype="multipart/form-data">
	      <table>
          {{ form.hidden_tag() }}
	        {% for field in form if field.widget.input_type != 'hidden' %}
	        <tr>
	          <td>{{ field.label }}</td><td>{{ field }}</td>
	        </tr>
	        {% endfor %}
	      </table>
	<p><input type=submit value="Submit"></p>
      </form>
    </div>
  </div>
</body>
</html>
{% endblock %}
